service: serverless-bolt-js-gpt
frameworkVersion: "3"
provider:
  name: aws
  runtime: nodejs18.x
  region: ap-northeast-1
  environment:
    SLACK_SIGNING_SECRET: ${env:SLACK_SIGNING_SECRET}
    SLACK_BOT_TOKEN: ${env:SLACK_BOT_TOKEN}
    OPENAI_API_KEY: ${env:OPENAI_API_KEY}
    SLACK_BOT_ID: ${env:SLACK_BOT_ID}
    GPT_MODEL: ${env:GPT_MODEL}
functions:
  slack:
    handler: ./src/app.handler
    timeout: 600
    events:
      - http:
          path: slack/events
          method: post
plugins:
  - serverless-offline
useDotenv: true
